body{
    font-family: sans-serif;
    margin: 0;
}
pre {
    margin: 0;
}
.interface{
    position: absolute;
    padding: 5px;
}
.overrender{
    background-color: white;
}
.topright{
    right: 0;
    top: 0;

}
.topleft{
    left: 0;
    top: 0;
}

.botright{
    right: 0;
    bottom: 0;

}
.botleft{
    left: 0;
    bottom: 0;
}
.menu{
    left: 400px;
    top: 500px;
    border: solid 1pt #b5b5b5;
    background-color: #5a5a5a;
    color: white;
    font-weight: bolder;
    padding: 2px;
    max-height: 200px;
    overflow-y: auto;
}
.texteditorpanel{
    left: 25%;
    top: 25%;
    border: solid 1pt #b5b5b5;
    background-color: #5a5a5a;
    color: white;
    font-weight: bolder;
    padding: 2px;
    display: none;
    flex-direction: column;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 15px;

}
.json.key{
    color: #097238;
    /*font-style: italic;*/
}
.json.number{
    color: #3453ce;
}
.json.string{
    color: #574128;
}
.json.boolean{
    color: #9c5b03;
}
.json.null{
    color: #9c0303;
}
.javascript.keyword{
    color: #9c5b03;
    font-weight: bold;
}
.javascript.name{
    color: #602776;
    /*font-style: italic;*/
}
.javascript.string{
    color: #574128;
    font-weight: bold;
}
.javascript.number{
    color: #3453ce;
}
.javascript.comment{
    color: #2e8b1a;
}
.javascript.keyword.function{
    font-style: italic;
}
.buttonpanel{
    padding: 0;
    display: flex;
}
.interfacebutton{
    margin: 2px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 22px;
    font-size: 12px;
    /*font-family: monospace;*/
}
.redbutton{
    background-color: #6b0909;
    border: solid 1px #482727;
}
.bluebutton{
    background-color: #09306b;
    border: solid 1px #213a44;
}
.texteditorpanel>.title{
    height: 26px;
    line-height: 20px;
}
#texteditor{
    background: white;
    color: black;
    text-align: left;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    resize: none;
    font-weight: normal;
    padding: 5px;
    font-family: monospace;
}
.menu>.option{
    background-color: white;
    color: #737373;
    font-weight: normal;
    padding: 2px;


}
.menu>.option:hover{
    color: white;
    background: #888888;
}
#cameraswitcher:hover{
    color: white;
    background: #888888;
}